.wrapper

  = render 'side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          test
        %ul.left-header__members
          Member：
          %li.member
            masa
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .top-message
          .top-message__user-name
            masa
          .top-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            おはよう
      .message
        .top-message
          .top-message__user-name
            masa
          .top-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            おはよう
      .message
        .top-message
          .top-message__user-name
            masa
          .top-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            おはよう
    .form
      %form
      %input.form__message{type: "text", placeholder: "type a message"}
        .form__mask
          %label.form__mask__image
            = icon('fa','image',class: 'icon')
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}